# Apollo Config
BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
USERS_ALLOWED=user1_id,user2_id

TIMEZONE=Asia/Jakarta

# LLM CONFIG
LLM_API_KEY=your_llm_api_key_here
LLM_MODEL=model_name_here
OLLAMA_BASE_URL=api_base_url_here

# EMBEDDING CONFIG
EMBEDDING_API_KEY=your_embedding_key_here
LLM_EMBEDDING_MODEL=embedding_model_here
EMBEDDING_API_BASE=api_base_url_here
EMBEDDING_ENCODING_FORMAT=float

# STOCKBIT CONFIG
STOCKBIT_API_URL=https://exodus.stockbit.com/stream/non-login/user/stockbit
