# TIMEZONE
TIMEZONE=Asia/Jakarta

# GAIA SECHRETS
GAIA_SECRET_ALPHA='your_secret_alpha_here'
GAIA_SECRET_OMEGA='your_secret_omega_here'

# LLM CONFIG
LLM_API_KEY=your_llm_api_key_here
LLM_MODEL=model_name_here
OLLAMA_BASE_URL=api_base_url_here

# EMBEDDING CONFIG
EMBEDDING_API_KEY=your_embedding_key_here
LLM_EMBEDDING_MODEL=embedding_model_here
EMBEDDING_API_BASE=api_base_url_here
EMBEDDING_ENCODING_FORMAT=float

# TELEGRAM IDENTITY
BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
USERS_ALLOWED=user1_id,user2_id

# RESEARCH CONFIG
LLM_RESEARCH_MODEL=research_model_here
RESEARCH_API_KEY=your_research_api_key_here
RESEARCH_API_BASE=api_base_url_here

# OPTIONAL: GITHUB TOKEN
#GITHUB_TOKEN=your_github_token_here
