# Demeter Config
BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
USERS_ALLOWED=user1_id,user2_id

# Hardware & System Config
RTSP_URL="rtsp://user:password@ip_address:port/path"
DB_FILE="data_logs/garden_history.csv"
CAPTURE_DIR="vision_capture"
MOISTURE_SAFETY_LIMIT=40
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=admin123

# LLM CONFIG
LLM_API_KEY=your_llm_api_key_here
LLM_BASE_MODEL=model_name_here
LLM_BASE_URL=api_base_url_here

# EMBEDDING CONFIG
EMBEDDING_API_KEY=your_embedding_key_here
LLM_EMBEDDING_MODEL=embedding_model_here
EMBEDDING_API_BASE=api_base_url_here
EMBEDDING_ENCODING_FORMAT=float
